<div class="ts-test-div">
</div>
{% schema %}
{
  "name": "test-section",
  "tag": "section",
  "class": "ts-full-width",
  "settings": [
    {
      "type": "text",
      "id": "ts-header",
      "label": "Header"
    }
  ]
}
{% endschema %}
